<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miniweather">

    <!-- testBuildType manifest is used in instrumentation tests   -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="Mini Weather Debug"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:replace="android:label" />

</manifest>
